{% extends 'base.html' %}

{% block content %}
    <div id="search">
        <form action="">
            {{ sform.search_field.label_tag }}
            {{ sform.search_field }}
            <input type="submit" value="Показать">
            <br>
            {{ sform.sort_field.label_tag }}
            {{ sform.sort_field }}
        </form>
    </div>
    {% for post in post_list %}
        <div class="post">
            <div class ="ava_com_post">
                {% if post.author.profile.avatar %}
                    <img src="{{ post.author.profile.avatar.url }}">
                {% else %}
                    {% load staticfiles %}
                    <img src="{% static "default_avatar.jpg" %}" align="left">
                {% endif %}
            </div>
            <div>
                <div class="post_date">
                    <a href="{% url 'other_profile' u_name=post.author %}"><b>{{ post.author }}</b></a>
                <p class="date"><i>{{ post.published_date }}</i></p>
                </div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                    {% if user.is_authenticated %}
                        <button class="like" type="button" name="{{ post.pk }}">
                            <span class="glyphicon glyphicon-heart"></span> <strong id="like_count_{{ post.pk }}">{{ post.likes.count }}</strong>
                        </button>
                    {% endif %}
            </div>
            <hr>
        </div>
    {% endfor %}
    <div id="feedback_block">
        <button id="exit_feedback">X</button>
        <p id="fb_title"><img id="fb_ava" src="{% static "maks_ava.jpg" %}"> Максим:</p>
        ... <i id="fb_mytext">напишите мне!</i>
        <form id="feedback_form" method="POST" class="form">
            {% csrf_token %}
            {{ feedback_form.as_p }}
        <p><input type="submit" value="Отправить" id="send_feedback "></p>
        </form>
    </div>
{% endblock %}